xsd/ejercicio1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ejemplo.com/alumno">
<!--EJERCICIO1-->
  <xs:element name="alumno" type="alumnoType"/>

  <xs:complexType name="alumnoType">
    <xs:sequence>
      <xs:element name="nombre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>