xsd/ejercicio3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ejemplo.com/nota">
<!--EJERCICIO4-->
  <xs:element name="notas" type="notasType"/>

  <xs:complexType name="notasType">
    <xs:sequence minOccurs="3" maxOccurs="5">
      <xs:element name="nota" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>