xsd/ejercicio6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ejemplo.com/dni">
<!--EJERCICIO6-->
  <xs:element name="DNI" type="DNIType"/>

  <xs:complexType name="DNIType">
    <xs:sequence>
      <xs:element name="numero" type="xs:string">
        <xs:pattern value="[0-9]{8}[A-Z]"/>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>